body {
    background-color: rgb(234, 234, 214);
    font-size: xx-small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-list {
    background-color: rgba(251, 167, 70, 0.185);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid rgba(255, 0, 0, 0.641);
}

.nav-item {
    list-style: none;
    margin-right: 0;    
}

.nav-item a {
    text-decoration: none;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.607);
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(108, 130, 190);
}
.nav-item:first-child {
    margin-right: auto;
}

.nav-item:last-child{
    margin-left: auto;
}

.sec {
    display: flex;
    padding: 0cm;
    justify-content: space-between;
}

.sec:first-child {
    margin-right: auto;
}

.imgsec {
    display: flex;
    margin: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1px;
    margin-top: 15px;
}

.imgitem {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgba(0, 0, 0, 0.461);
    margin: 4px;
    padding: 10px;
    justify-content: space-around;
}

.imgitem:first-child {
    margin-left: 10rem;
}

.imgitem:last-child {
    margin-right: 10rem;
}